@font-face {
    src: url(../fonts/OMORI_GAME.ttf);
    font-family: "omori";
}



body {
    text-align: center;
}

.door-container {
    display: flex;
    width:70%;
    max-width: 1200px;
    height: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    justify-content: space-around;

}

*,
*::after,
*::before {
    box-sizing: border-box;
}

#door3 {
    width: 20%;
    min-width: 220px;
}

h1 {
    font-family: 'Alkatra', cursive;
    font-size: 3em;
}